* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: yellow;
}
body {
    background-color: black;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgreen;
    width: 350px;
    height: 350px;
    padding: 20px 20px;
    border-radius: 5%;
    font-size: 25px;
}
.btn {
    background-color: yellow;
    color: green;
    border-radius: 5%;
    font-size: 20px;
    padding: 5px 10px;
    margin: 30px 0px;
}
.scores {
    margin-bottom: 20px;
}
.fab.fa-github {
    font-size: 24px;
    color: black;
}